@font-face {
	font-family: 'ylee MHIM';
	src: url(ylee\ MHIM.ttf);
}

@font-face {
	font-family: 'avenir_next';
	src: url(Avenir\ Next.ttc);
}

$enable-shadows: true;
$maxWidth: 1500px;

body {
	margin: 0;
	font-family: 'Avenir Next', 'avenir_next';
	background: #C8DCE7;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.nav {
	background-color: #304C5C;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: $maxWidth;
		padding: 20px 50px;
	}
}

.logo {
	display: flex;
	align-items: center;
	color: white;
	font-weight: 400;
	font-size: 13pt;
	img {
		margin-right: 15px;
		height: 40px;
	}
}

.links a {
	margin-left: 40px;
	color: white;
	text-decoration: none;
}

.header {
	background-color: #304C5C;
	text-align: center;
	margin: 0;
	color: white;
	font-size: 25pt;
	font-weight: 400;
	padding: 50px 0;
}

.groups {
	display:flex; align-items: center; justify-content: center; 
	margin: 50px 30px;
}
.group-grid {
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  max-width: $maxWidth;
	width: 100%;
	gap: 50px;
	justify-items: center;
	.group {
		background: white;
		width: 280px;
		padding: 25px;
		display: flex;
		align-items: center;
		flex-direction: column;
		box-shadow: 0px 0px 25px #304c5c3e;
		cursor: pointer;
		transition: all 0.2s;
		&:hover {
			// svg {
			// 	transform: translateY(7px) scale(1.2);
			// }
			.name::after {
				width: 100%;
			}
		}
		.cover {
			width: 100%;
			height: 260px;
			background-image: url(Mause300x200.jpg);	
			background-size: cover;
			background-position: center center;
		}
		.name {
			font-family: 'ylee MHIM';
			font-size: 50px;
			text-align: center;
			margin: 0;
			margin-top: 10px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 10px;
				width: 0px;
				height: 1px;
				background-color: black;
				transition: all 0.2s;
			}
		}
		svg {
			margin-top: 5px;
			height: 20px;
			fill: rgb(91, 91, 91);
			transition: all 0.2s;
		}

	}
}
.container {
    background-color: white;
    //box-shadow: 0px 0px 5px #5c30303e;

    padding: 15px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 11px;
    max-width: $maxWidth;
    width: auto;
    align-content: center;


    //display: flex;
    //box-shadow: 0px, 0px, 20px #0e0e0e;

    .row {
        display: flex;
        justify-content: space-between;

    }

}
.container:hover {
    box-shadow: 0px 0px 10px #46575f3e;
    transition: all 0.5s;
}

.txt {
    margin: 160px;
    line-height: 2.8;
    text-indent: 10px;
    margin-top: 100px;
}
h3 {
    margin: 100px;
    margin-left: 180px;
}
.busbilder {
    height: 200px;
    background-color: gray;
    margin-bottom: 20px;
}
.form {
    margin: 80px;
    height: 1500px;
    background-color: white;
    border-radius: 40px;
}


