@import 'bootstrap/scss/bootstrap';

:root {
    --contentWidth: 1500px;
    --primaryBg: #304c5c;
    --primaryBg: #255977;
    --secondaryBg: #ffeed3;
    --mobileWidth: 900px;
}

@font-face {
    font-family: 'ylee MHIM';
    src: url('~/assets/fonts/secondaryFont.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next';
    src: url('~/assets/fonts/Avenir_Next-Regular.otf') format('opentype');
}

body,
input {
    margin: 0;
    font-family: 'Avenir Next', 'avenir_next', Arial, sans-serif;
    font-weight: 500;
}

$mynewcolor: #304c5c;

.btn-primary {
    @include button-variant(
        $mynewcolor,
        darken($mynewcolor, 7.5%),
        darken($mynewcolor, 10%),
        lighten($mynewcolor, 5%),
        lighten($mynewcolor, 10%),
        darken($mynewcolor, 30%)
    );
    color: #fff;
}

.btn-outline-primary {
    @include button-outline-variant(
        $mynewcolor,
        #222222,
        lighten($mynewcolor, 5%),
        $mynewcolor
    );
}
