@import "~bootstrap/scss/bootstrap";

@font-face {
	font-family: "ylee MHIM";
	src: url("src/assets/ylee\ MHIM.ttf");
  }
@font-face {
	font-family: "avenir_next";
	src: url(Avenir\ Next.ttc);
}
body {
	margin: 0;
	font-family: "Avenir Next", "avenir_next";
	background: #C8DCE7;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}