@import "~bootstrap/scss/bootstrap";

:root {
	--primaryBg: #304C5C; 
	--primaryBg: #255977; 
}

@font-face {
	font-family: "ylee MHIM";
	src: url("src/assets/ylee\ MHIM.ttf");
  }
@font-face {
	font-family: "avenir_next";
	src: url(Avenir\ Next.ttc);
}

body {
	margin: 0;
	font-family: "Avenir Next", "avenir_next";
	font-weight: 500;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}